<div class='container-fluid'>
  <div class='row'>
    <div class="col-lg-6" style="background-color:peachpuff;">
      <div class="container"><br>
        <form>
          <legend>Search For Train</legend>
          <fieldset>
            <div class="form-group">
              <label for="end" class="cols-sm-2 control-label">Destination</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block login-button" type="button">Search</button><br>
          </fieldset>
        </form>
        </div>
      <div class="main-login main-center">
      </div>
    </div>
    <div class="col-lg-6" style="background-color:rosybrown;">
      <div class="main-login main-center"><br> 
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->






