<div class ='container-fluid'>
  <div class = 'row'>
    <div class ='col col_2' style="background-color:ivory;">
      <div class="main-login main-center">
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" method="POST" target="_blank" action="https://sandbox.payhere.lk/pay/checkout" #form>
          <fieldset><br>
            <legend>Buy Your Ticket Here : </legend>
            <input type="hidden" name="merchant_id" value="1211720">
            <input type="hidden" name="return_url" value="http://sample.com/return">
            <input type="hidden" name="cancel_url" value="http://sample.com/cancel">
            <input type="hidden" name="notify_url" value="http://sample.com/notify">
            <input type="hidden" name="order_id" value={{user._id}}>
            <input type="hidden" name="items" value="Train Ticket"><br>
            <input type="hidden" name="currency" value="LKR">
            <input type="text" name="amount" value="135">
            
            <input type="hidden" name="first_name" value="{{user.fname}}">
            <input type="hidden" name="last_name" value="{{user.lname}}"><br>
            <input type="hidden" name="email" value="{{user.email}}">
            <input type="hidden" name="phone" value="{{user.telephone}}"><br>
            <input type="hidden" name="address" value="{{user.address}}">
            <input type="hidden" name="city" value="Colombo">
            <input type="hidden" name="country" value="Sri Lanka">

            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="purchaseTicketService.selectedPurchase._id">           
            <div class="form-group">
              <label for="start" class="cols-sm-2 control-label">Start Station</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="start" #name="ngModel" [(ngModel)]="purchaseTicketService.selectedPurchase.start" required         >
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="end" class="cols-sm-2 control-label">End Station</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="end" #name="ngModel" [(ngModel)]="purchaseTicketService.selectedPurchase.end">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="date" class="cols-sm-2 control-label">Date</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="date" class="form-control" name="date" #name="ngModel" [(ngModel)]="purchaseTicketService.selectedPurchase.date">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="class" class="cols-sm-2 control-label">Class</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="class" #name="ngModel" [(ngModel)]="purchaseTicketService.selectedPurchase.class">
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <input type="hidden" class="form-control" name="time" #name="ngModel" value="22.05" [(ngModel)]="purchaseTicketService.selectedPurchase.time">
            </div>           
            <div class="form-group">
              <input type="hidden" class="form-control" name="cost" #name="ngModel" [(ngModel)]="purchaseTicketService.selectedPurchase.cost">
            </div>
            <div class="form-group">
              <input type="hidden" class="form-control" name="buyerid"  #name="ngModel" [(ngModel)]="user._id">  
            </div>
            <flash-messages></flash-messages>
            <div class="form-group ">
              <button class="btn btn-primary btn-lg btn-block login-button" type="submit" (click)="form.submit()" [disabled]="!userForm.valid">Pay Online</button>
              <button class="btn btn-primary btn-lg btn-block login-button" [disabled]="!userForm.valid">Pay with Ez Cash</button>
              <button class="btn btn-primary btn-lg btn-block login-button" type="button" (click)="resetForm(userForm)">Reset</button>
            </div>
          </fieldset>
        </form>
      </div>
      </div>
      <div class ='col col_2' style="background-color:rosybrown;">
        <div class="main-login main-center"><br>
          <button class="btn btn-primary btn-lg btn-block login-button" >Get Live Location</button>
          <button class="btn btn-primary btn-lg btn-block login-button" >Train Shedule</button>
        <br>
        <br>
        <div align="center">
          <qrcode [qrdata]="qrMsg" [size]="250" [level]="'H'"></qrcode>
          {{ticketDetails}}
        </div>
      </div>
    </div>
  </div>
  
     
